<div class="row">
  <div class="time col-sm-12 center">
    <span class="minutes">0</span>m
    <span class="seconds">00</span>s
  </div>
</div>  

<div class="row">
  <div class="controls col-sm-12 center">
    <button class="btn btn-default btn-sm" id="start">Start</button> 
    <button class="btn btn-default btn-sm" id="pause">Pause</button>
    <button class="btn btn-default btn-sm" id="reset">Reset</button>
  </div>
</div>

<div class="row center">
  <div id="description" class="col-sm-4 col-sm-offset-4">
    <textarea rows="3" placeholder="What are you working on?"></textarea>
  </div>
</div>

<div class="row center">
  <div class="col-sm-4 col-sm-offset-4">
    <%= form_for(@task, url: track_path) do |f| %>
      <%= f.submit "Finish task", class: "btn btn-primary", id: "finish" %>
    <% end %> 
  </div>
</div>

<div class="row">
  <div id="task-log" class="col-sm-6 col-sm-offset-3 center">
    <h3>Task Log</h3>
    <div class="message">Nothing doin'. Get to work!</div>
    <table>
      <thead>
        <tr>
          <td>Time</td>
          <td>Task</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>