<div class="row">
  <div class="time col-sm-12 center">
    <span class="minutes">0</span>m
    <span class="seconds">00</span>s
  </div>
</div>  

<div class="row">
  <div class="controls col-sm-12 center">
    <button id="start">Start</button> 
    <button id="pause">Pause</button>
  </div>
</div>

<div class="row center">
  <div id="description" class="col-sm-4 col-sm-offset-4">
    <textarea rows="3" placeholder="What are you working on?"></textarea>
  </div>
</div>

<div class="row center">
  <button id="finish">Finish Task</button>
</div>

<div class="row">
  <div id="task-log">
    <h3>Task Log</h3>
    <ul></ul>
  </div>
</div>