@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body { width: 100%; }
main { max-width: 960px; margin: 0 auto; } 
.center { text-align: center; } 

#timer 
{
  .time { font-size: 68pt; text-align: center; }
  .controls 
  { 
    text-align: center; 
    button { font-size: 20px; }
  } 
}

#description textarea
{
    border-radius: 5px; 
    margin: 25px 0;
    width: 100%;
    padding: 10px;
}

#finish { font-size: 20px; } 

#recent-tasks table { display: none; transition: all 0.5s; } 

#recent-tasks table tr td
{ 
  padding: 5px;
}

#recent-tasks table tr td:first-child
{
  min-width: 80px;
  vertical-align: top;
  padding-left: 0;
}

#recent-tasks thead 
{
  font-weight: bold; 
  font-size: 14pt;
}

#recent-tasks tbody
{
  font-size: 12pt;
}

#recent-tasks .message
{
  font-size: 18px; 
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center;  
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#task-log tr td 
{
  padding: 5px; 
}

#task-log tr td.time-elapsed
{
  padding-left: 0;
  min-width: 75px;
  vertical-align: top;
}

#task-log .header, #task-log .date-header
{
  font-weight: bold; 
}

#task-log .date-header
{
  text-align: center;
  font-size: 16pt
}

#task-log .controls a
{
  color: red;
  text-decoration: none;
  opacity: 0;
  transition: all 0.5s;
}

#task-log tbody tr:hover td.controls a
{
  opacity: 1; 
}

#task-log td.task { min-width: 335px; }