@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body { width: 100%; }
main { max-width: 960px; margin: 0 auto; } 
.center { text-align: center; } 

#timer 
{
  .time { font-size: 68pt; text-align: center; }
  .controls { text-align: center; } 
}

#description textarea
{
    border-radius: 5px; 
    margin: 25px 0;
    width: 100%;
    padding: 10px;
}

#task-log h3
{
    padding-top: 25px;
}

#task-log table
{
    display: none;
    margin: 25px auto;     
}

#task-log thead
{ 
    font-weight: bold;
    text-decoration: underline;
}

#task-log  td:first-child
{
    text-align: left; 
    min-width: 50px;
    vertical-align: top;
}

#task-log tbody td:nth-child(2)
{
    text-align: left; 
    padding-left: 50px;
}

#task-log thead td:nth-child(2)
{
    text-align: left; 
    padding-left: 50px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center;  
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}