body.night-mode
{
  transition: all 2s;
  background-color: #002b36;
  color: #93a1a1;
  
  .navbar { transition: all 2s; }
  .navbar-brand .brand { color: white; }
  .dropdown-menu
  {
    transition: all 2s;
    background-color: #222;
    border-top: none;
  
    li a { color: #93a1a1; }
  }
  
  footer 
  { 
    transition: all 2s; 
    background-color: #222; 
    color: #cfcfcf; 
    
    a, a:visited { color: #cdcdcd; }
  }
  
  textarea
  {
    transition: all 2s;
    background-color: #222;
    color: #cdcdcd;
  }

  select
  {
    transition: background-color 2s, color 2s;
    background-color: #222;
    color: #cdcdcd;
  }
  
  #timer .time { color: white; }
  
}